* {
    padding: 0;
    margin : 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.calculator {
    width: 500px;
    height: 500px;
    background-color: rgb(43, 41, 41);
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    
    
    
}

#display {
    width: 400px;
    height: 100px;
    background-color: black;
    margin: 30px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2.5em;
    padding-right: 20px;
    
}

.buttons {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.digits-grid {
   display: flex;
   width: 250px;
   height: 250px;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   gap: 15px;
   flex-wrap: wrap;
   margin-left: 25px;
}

.digit {
    width: 60px;
    height: 40px;
    font-size: 18px;
}

.row1, .row2, .row3, .row4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
}

.row4 {
    justify-content: center;
}

.grid2 {
    height:250px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5px;
}

.operator {
    width: 50px;
    height: 20px;
    background-color: rgb(236, 225, 225);
    color: rgb(19, 18, 18);
}

#equals, #clear, #decimal, #backspace {
    width: 50px;
    height: 20px;
    background-color: rgb(236, 225, 225);
    color: rgb(19, 18, 18);

}

button {
    border: none;
    border-radius: 10px;
    background-color: orange;
    color: white;
}

